<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Drifterz a Packers & Movers Category Bootstrap Responsive Website Template | About
	:: W3layouts</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="assets/css/style-starter.css">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->
</head>

<body>

	<!--w3l-header-->
	<header class="w3l-header-nav">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light px-lg-0 py-0 px-3 stroke">
			<div class="container">
				<h1><a class="navbar-brand" href="index.html">Drifter<span>z</span></a></h1>
				<!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="index.html">Home</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="about.html">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="services.html">Services</a>
						</li>
					
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Contact</a>
						</li>
					</ul>
					<!--/search-right-->
					<div class="search-right">
						<a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
						<!-- search popup -->
						<div id="search" class="pop-overlay">
							<div class="popup">

								<form action="#" method="post" class="search-box">
									<input type="search" placeholder="Search your Keyword" name="search"
										required="required" autofocus="">
									<button type="submit" class="btn"><span class="fa fa-search"
											aria-hidden="true"></span></button>
								</form>

							</div>
							<a class="close" href="#close">×</a>
						</div>
						<!-- /search popup -->
					</div>
					<!--//search-right-->

				</div>
			</div>
		</nav>
		<!--//nav-->
	</header>
	<!-- //w3l-header -->
	<!-- /breadcrumbs -->
	<nav id="breadcrumbs" class="breadcrumbs">
		<div class="container page-wrapper">
			<a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">About</span>
		</div>
	</nav>
	<!-- //breadcrumbs -->
	<!-- /content-6-->
	<section class="w3l-content-6">
		<!-- /content-6-main-->
		<div class="content-6-mian py-5">
			<div class="container py-lg-5">
				<div class="content-info-in row">
					<div class="content-gd col-lg-5 pl-lg-4">
						<div class="title-content text-left mb-2">
							<h6 class="sub-title">About Us</h6>
							<h3 class="hny-title">We have 25+ years of experiences give you better results.</h3>
						</div>
						<h4>Need expert moving advice?
							You’ve come to the right place</h4>
					</div>
					<div class="content-gd col-lg-7 pl-lg-4 pl-lg-4 mt-lg-0 mt-md-5 mt-4">
						<p>Lorem ipsum dolor sit amet,Ea consequuntur .Ea consequuntur illum facere aperiam sequi optio
							consectetur adipisicing elitFuga, suscipit totam animi consequatur saepe blanditiis.Lorem
							ipsum
							dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur adipisicing
							elit.</p>
						<p>Ea consequuntur illum facere aperiam sequi optio consectetur adipisicing elitFuga, suscipit
							totam animi consequatur saepe blanditiis.Lorem ipsum dolor sit amet,Ea consequuntur illum
							facere aperiam sequi optio consectetur adipisicing elit. Fuga, suscipit totam animi
							consequatur saepe blanditiis.</p>
					</div>

				</div>
			</div>
	</section>
	<!-- //content-6-->


	<!-- feature1 -->
	<section class="w3l-feature-1">
		<div class="feature-1sec py-5">
			<div class="container py-lg-5">
				<div class="feature-1-content py-lg-3">
					<h4 class="sub-title">Our history of Drifterz</h4>
					<h3 class="hny-title two">Our history</h3>
					<p class="mt-3">Lorem ipsum dolor sit amet,Ea consequuntur .Ea consequuntur illum facere aperiam
						sequi optio consectetur adipisicing elitFuga, suscipit totam animi consequatur saepe
						blanditiis.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
						consectetur adipisicing elit.</p>
					<div class="history-grids">
						<div class="history-ifo">
							<h5 class="year">2017</h5>
							<p>Lorem ipsum dolor sit amet</p>

						</div>
						<div class="history-ifo">
							<h5 class="year">2018</h5>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
						<div class="history-ifo">
							<h5 class="year">2019</h5>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
						<div class="history-ifo">
							<h5 class="year">2020</h5>
							<p>Lorem ipsum dolor sit amet</p>
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- //feature1 -->
	<section class="w3l-content-4">
		<!-- /content-6-section -->
		<div class="content-4-main py-5">
			<div class="container py-lg-4">
				<div class="content-info-in row">
					<div class="content-left col-lg-6 pr-lg-4 text-lg-right">
						<h6 class="sub-title">
							Who we are</h6>
						<h3 class="hny-title">
							Moving resources</h3>
						<p class="mt-3"> Phasellus lacinia id erat eu
							ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in
							culpa quis. Phasellus lacinia</p>
						<img src="assets/images/3.jpg" class="img-fluid mt-3" alt="">
					</div>
					<div class="content-right col-lg-6 pl-lg-4">
						<div class="row content4-right-grids mb-lg-5 mb-4">
							<div class="col-md-2 content4-right-icon">
								<div class="content4-icon">
									<span class="fa fa-pencil-square-o"></span>
								</div>
							</div>
							<div class="col-md-10 content4-right-info">
								<h6><a href="#">Guide to moving</a></h6>
								<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
									consectetur
									adipisicing elit.</p>
							</div>

						</div>
						<div class="row content4-right-grids mb-lg-5 mb-4">
							<div class="col-md-2 content4-right-icon">
								<div class="content4-icon">
									<span class="fa fa-map-o"></span>
								</div>
							</div>
							<div class="col-md-10 content4-right-info">
								<h6><a href="#">
										Relocation guides</a></h6>
								<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
									consectetur
									adipisicing elit.</p>
							</div>

						</div>
						<div class="row content4-right-grids mb-lg-5 mb-4">
							<div class="col-md-2 content4-right-icon">
								<div class="content4-icon">
									<span class="fa fa-podcast"></span>
								</div>
							</div>
							<div class="col-md-10 content4-right-info">
								<h6><a href="#">
										Moving supplies</a></h6>
								<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
									consectetur
									adipisicing elit.</p>
							</div>

						</div>
						<div class="row content4-right-grids">
							<div class="col-md-2 content4-right-icon">
								<div class="content4-icon">
									<span class="fa fa-window-restore"></span>
								</div>
							</div>
							<div class="col-md-10 content4-right-info">
								<h6><a href="#">
										Checklists</a></h6>
								<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
									consectetur
									adipisicing elit.</p>
							</div>

						</div>
					</div>


				</div>

			</div>
		</div>
	</section>
	<!-- //content-6-section -->
	<!--/team-sec-->
	<section class="w3l-team-main">
		<div class="team py-5">
			<div class="container py-lg-4">
				<div class="title-content text-center mb-lg-5 mb-4">
					<h6 class="sub-title">Our Company</h6>
					<h3 class="hny-title">Our Team</h3>
					<p class="title-para mx-auto">Lorem illum facere aperiam sequi optio consectetur adipisicing elitFuga,
						suscipit totam
						animi
						consequatur saepe blanditiis.Lorem ipsum dolor sit amet</p>
				</div>
				<div class="row team-row">
					<div class="col-lg-3 col-6 team-wrap">
						<div class="team-info text-center">
							<div class="column position-relative">
								<a href="#url"><img src="assets/images/team1.jpg" alt=""
										class="img-fluid team-image" /></a>
							</div>
							<div class="column">
								
								<h3 class="name-pos"><a href="#url">Micheal Wagou</a></h3>
								<p>Delivery Boy</p>
								<div class="social">
									<div class="social-left">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook"
												aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter"
												aria-hidden="true"></span></a>
										<a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
										<a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- end team member -->

					<div class="col-lg-3 col-6 team-wrap">

						<div class="team-info text-center">
							<div class="column position-relative">
								<a href="#url"><img src="assets/images/team2.jpg" alt=""
										class="img-fluid team-image" /></a>
							</div>
							<div class="column">
								
								<h3 class="name-pos"><a href="#url">Alex Mitchell</a></h3>
								<p>Driver</p>
								<div class="social">
									<div class="social-left">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook"
												aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter"
												aria-hidden="true"></span></a>
										<a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
										<a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- end team member -->

					<div class="col-lg-3 col-6 team-wrap">
						<div class="team-info text-center">
							<div class="column position-relative">
								<a href="#url"><img src="assets/images/team3.jpg" alt=""
										class="img-fluid team-image" /></a>
							</div>
							<div class="column">
								
								<h3 class="name-pos"><a href="#url">Scott Colon</a></h3>
								<p>Manager</p>
								<div class="social">
									<div class="social-left">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook"
												aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter"
												aria-hidden="true"></span></a>
										<a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
										<a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- end team member -->
					<!-- end team member -->

					<div class="col-lg-3 col-6 team-wrap">
						<div class="team-info text-center">
							<div class="column position-relative">
								<a href="#url"><img src="assets/images/team4.jpg" alt=""
										class="img-fluid team-image" /></a>
							</div>
							<div class="column">
								
								<h3 class="name-pos"><a href="#url">John Harris</a></h3>
								<p>Delivery Boy</p>
								<div class="social">
									<div class="social-left">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook"
												aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter"
												aria-hidden="true"></span></a>
										<a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
										<a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//team-sec-->
	<!-- footer-66 -->
	<footer class="w3l-footer-66">
		<section class="footer-inner-main">
			<div class="footer-hny-grids py-5">
				<div class="container py-lg-4">
					<div class="text-txt">
						<div class="right-side">
							<div class="row sub-columns">
								<div class="col-lg-4 col-md-6 sub-one-left pr-lg-4">
									<h2><a class="navbar-brand" href="index.html">Drifter<span>z</span></a></h2>
									<!-- if logo is image enable this   
									<a class="navbar-brand" href="#index.html">
										<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
									</a> -->
									<p class="pr-lg-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Consequuntur hic odio voluptatem tenetur consequatur.Lorem ipsum dolor sit amet
										consectetur adipisicing elit. </p>
									<div class="columns-2">
										<ul class="social">
											<li><a href="#facebook"><span class="fa fa-facebook"
														aria-hidden="true"></span></a>
											</li>
											<li><a href="#linkedin"><span class="fa fa-linkedin"
														aria-hidden="true"></span></a>
											</li>
											<li><a href="#twitter"><span class="fa fa-twitter"
														aria-hidden="true"></span></a>
											</li>
											<li><a href="#google"><span class="fa fa-google-plus"
														aria-hidden="true"></span></a>
											</li>
											<li><a href="#github"><span class="fa fa-github"
														aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 sub-one-left mid-footer-gd">
									<div class="sub-two-right">
										<h6>Quick links</h6>
										<ul>
											<li><a href="index.html"><span
														class="fa fa-angle-right mr-2"></span>Home</a>
											</li>
											<li><a href="about.html"><span
														class="fa fa-angle-right mr-2"></span>About</a>
											</li>
											<li><a href="services.html"><span
														class="fa fa-angle-right mr-2"></span>Services</a></li>
											<li><a href="contact.html"><span
														class="fa fa-angle-right mr-2"></span>Contact</a></li>
										</ul>
									</div>
									<div class="sub-two-right">
										<h6>Categories</h6>
										<ul>
											<li><a href="#"><span class="fa fa-angle-right mr-2"></span>Express</a></li>
											<li><a href="#"><span class="fa fa-angle-right mr-2"></span>Material</a>
											</li>
											<li><a href="#support"><span
														class="fa fa-angle-right mr-2"></span>Furniture</a></li>
											<li><a href="#terms"><span class="fa fa-angle-right mr-2"></span>Vehicle</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 sub-one-left">
									<h6>Our Newsletter</h6>
									<form action="#" method="post" class="footer-newsletter">
										<div class="">
											<input type="email" name="email" class="form-input"
												placeholder="Enter your email..">
										</div>
										<button type="submit" class="btn">Subscribe</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="below-section">
				<div class="container">
					<div class="copyright-footer">
						<div class="columns text-lg-left">
							<p>© 2020 Drifterz. All rights reserved | Designed by <a
									href="https://w3layouts.com">W3layouts</a></p>
						</div>
						<ul class="columns text-lg-right">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="about.html">About Us</a>
							</li>
							<li><a href="contact.html">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- copyright -->
			<!-- move top -->
			<button onclick="topFunction()" id="movetop" title="Go to top">
				<span class="fa fa-arrow-up" aria-hidden="true"></span>
			</button>
			<script>
				// When the user scrolls down 20px from the top of the document, show the button
				window.onscroll = function () {
					scrollFunction()
				};

				function scrollFunction() {
					if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
						document.getElementById("movetop").style.display = "block";
					} else {
						document.getElementById("movetop").style.display = "none";
					}
				}

				// When the user clicks on the button, scroll to the top of the document
				function topFunction() {
					document.body.scrollTop = 0;
					document.documentElement.scrollTop = 0;
				}
			</script>
			<!-- /move top -->

		</section>
	</footer>
	<!--//footer-66 -->
</body>

</html>

<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->

<!--//-->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/scroll-down-JS-->
<!-- stats -->
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.countup.js"></script>
<script>
	$('.counter').countUp();
</script>
<!-- //stats -->
<!--//pop-up-box-->
<script src="assets/js/bootstrap.min.js"></script>