<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Drifterz a Packers & Movers Category Bootstrap Responsive Website Template | Home
	:: W3layouts</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="assets/css/style-starter.css">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->
</head>

<body>

	<!--w3l-header-->
	<header class="w3l-header-nav">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light px-lg-0 py-0 px-3 stroke">
			<div class="container">
				<h1><a class="navbar-brand" href="index.html">Drifter<span>z</span></a></h1>
				<!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="services.html">Services</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Contact</a>
						</li>
					</ul>
					<!--/search-right-->
					<div class="search-right">
						<a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
						<!-- search popup -->
						<div id="search" class="pop-overlay">
							<div class="popup">
                                            <h3 class="hny-title two">Search Here</h3>
								<form action="#" method="post" class="search-box">
									<input type="search" placeholder="Search your Keyword" name="search"
										required="required" autofocus="">
									<button type="submit" class="btn">Search</button>
								</form>

							</div>
							<a class="close" href="#close">×</a>
						</div>
						<!-- /search popup -->
					</div>
					<!--//search-right-->

				</div>
			</div>
		</nav>
		<!--//nav-->
	</header>
	<!-- //w3l-header -->
	<!--banner-slider-->
	<!-- main-slider -->
	<section class="w3l-main-slider" id="home">
		<div class="banner-content">
			<div id="demo-1"
				data-zs-src='["assets/images/1.jpg", "assets/images/2.jpg","assets/images/3.jpg", "assets/images/4.jpg"]'
				data-zs-overlay="dots">
				<div class="demo-inner-content">
					<div class="container">
						<div class="banner-infhny">
							<span>Let's go, together.</span>
							<h3> Moving every customer with care</h3>
							<p class="pr-lg-5">Lorem illum facere aperiam sequi optio consectetur adipisicing
								elitFuga,Ea consequuntur illum
								facere aperiam sequi optio </p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /main-slider -->
	<!-- //banner-slider-->
	<!-- /specification-6-->
	<section class="w3l-specification-6">
		<div class="specification-6-mian py-5">
			<div class="container py-lg-4">
				<div class="row story-6-grids text-left">
					<div class="col-lg-5 story-gd">
						<img src="assets/images/ab1.jpg" class="img-fluid" alt="/">
					</div>
					<div class="col-lg-7 story-gd pl-lg-4">
						<div class="title-content text-left">
							<h6 class="sub-title">Our Company</h6>
							<h3 class="hny-title">We are the best <br>moving company in the world.</h3>
							<p class="mt-3">Lorem illum facere aperiam sequi optio consectetur adipisicing elitFuga,
								suscipit totam
								animi
								consequatur saepe blanditiis.Lorem ipsum dolor sit amet</p>
						</div>
						<div class="skill_info mt-lg-5 mt-4">
							<div class="stats_left">
								<div class="counter_grid">
									<div class="icon_info">
										<p class="counter">165</p>
										<h4>Daily Quotes</h4>

									</div>
								</div>
							</div>
							<div class="stats_left">
								<div class="counter_grid">
									<div class="icon_info">
										<p class="counter">563</p>
										<h4>Happy Clients</h4>

									</div>
								</div>
							</div>
							<div class="stats_left">
								<div class="counter_grid">
									<div class="icon_info">
										<p class="counter">6063</p>
										<h4>Total boxed moved</h4>

									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- //specification-6-->
	<section class="features-4">
		<div class="features4-block py-5">
			<div class="container py-lg-4">
				<div class="title-content text-center mb-lg-5 mt-4">
					<h6 class="sub-title">Why Choose Us</h6>
					<h3 class="hny-title">We give you complete control<br>
						of your shipments.</h3>
					<p class="fea-para">Lorem illum facere aperiam consectetur adipisicing elit</p>
				</div>
				<div class="row features4-grids text-left mt-lg-4">
					<div class="col-lg-4 col-md-6 features4-grid mt-4">
						<div class="features4-grid-inn">
							<div class="nuber-box">01</div>
							<div class="features4-rightinfo">
								<h5><a href="#URL">
										Request quotes</a></h5>
								<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>
								<a href="#read" class="read">Read more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 features4-grid mt-4">
						<div class="features4-grid-inn">
							<div class="nuber-box">02</div>
							<div class="features4-rightinfo">
								<h5><a href="#URL">
										Compare prices</a></h5>
								<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>
								<a href="#read" class="read">Read more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 features4-grid mt-4">
						<div class="features4-grid-inn">
							<div class="nuber-box">03</div>
							<div class="features4-rightinfo">
								<h5><a href="#URL">
										Safely delivered</a></h5>
								<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>
								<a href="#read" class="read">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<!-- features-4 -->
	<!--/video-6-->
	<section class="w3l-video-6">
		<div class="container-fluid px-0">
			<div class="history-info position-relative">
				<div class="heading text-center mx-auto">
					<div clas="position-relative">
						<!--popup-->
						<a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
							<span class="video-play-icon">
								<span class="fa fa-play"></span>
							</span>
						</a>
						<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
						<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
							<iframe src="https://player.vimeo.com/video/22385411" frameborder="0"
								allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
						<!--//popup-->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//video-->

	<!--/blog-grids-home-->
	<section class="bloghny-gds py-5">
		<div class="container py-lg-4">
			<div class="title-content text-left mb-lg-5 mb-4">
				<h6 class="sub-title">Services</h6>
				<h3 class="hny-title">We can help you with</h3>
				<p class="title-para mt-3">Lorem illum facere aperiam sequi optio consectetur adipisicing elitFuga,
					suscipit totam
					animi
					consequatur saepe blanditiis.Lorem ipsum dolor sit amet</p>
			</div>
			<div class="row text-left img-grids">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="ser-bg1">
						<div class="p-md-5 p-3">
							<h4><a href="#url">Moving House</a></h4>
							<p>Lorem ipsum dolor sit amet sed consectetur adipisicing elit. </p>
							<h6>From $99</h6>

						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
					<div class="ser-bg2">
						<div class="p-md-5 p-3">
							<h4><a href="#url">Office Relocation</a></h4>
							<p>Lorem ipsum dolor sit amet sed consectetur adipisicing elit. </p>
							<h6>From $99</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">
					<div class="ser-bg3">
						<div class="p-md-5 p-3">
							<h4><a href="#url">Moving Abroad</a></h4>
							<p>Lorem ipsum dolor sit amet sed consectetur adipisicing elit. </p>
							<h6>From $99</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="row quote-grids mt-lg-4 mt-5">
				<div class="col-lg-7 quote-info">
					<div class="title-content text-left">
						<h6 class="sub-title">EXPLORE MY TEAM</h6>
						<h3 class="hny-title">Get a free
							Quote Today.</h3>
						<p class="mt-3 pr-lg-5">Lorem illum facere aperiam sequi optio consectetur adipisicing
							elitFuga,
							suscipit totam
							animi
							consequatur saepe blanditiis.Lorem ipsum dolor sit amet Consequuntur hic odio voluptatem tenetur consequatur.Lorem ipsum dolor sit amet</p>
						<a href="#read" class="read">Read more</a>
					</div>
				</div>
				<div class="col-lg-5 quote-form-content mt-lg-0 mt-5 pt-lg-2">
					<div class="quote-form p-md-5 p-4 mx-auto mw-100">
						<h4>Request a quote</h4>
						<form action="#" method="post">
							<div class="form-group">
								<input type="text" class="form-control" id="validationDefault01" placeholder="Your Name"
									required="">
							</div>
							<div class="form-group two-girds-fm">
								<input type="text" class="form-control" id="validationDefault02" placeholder="Move From"
									required="">
								<input type="text" class="form-control" id="validationDefault02" placeholder="Move To"
									required="">
							</div>

							<div class="form-group">
								<textarea name="Comment" class="form-control" placeholder="Message" required=""
									spellcheck="false"></textarea>
							</div>
							<button type="submit" class="btn submit-quote">Quote Now</button>

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//blog-grids-home-->

	<!--/testimonials-->
	<section class="w3l-companies-hny-6">
		<!-- /grids -->
		<div class="cusrtomer-layout py-5">
			<div class="container py-lg-4">
				<div class="title-content text-center mb-lg-5 mb-4">
					<span class="sub-title">Testimonials</span>
					<h3 class="hny-title two">Feedback from our Customers</h3>
				</div>
				<!-- /grids -->
				<div id="owl-demo1" class="owl-carousel owl-theme">
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
								<div class="testi-des">
									<div class="test-img"><img src="assets/images/t6.jpg" class="img-fluid" alt="/">
									</div>
									<div class="peopl">
										<h3>Theo Hall</h3>
										<p class="indentity">Seattle, Washington</p>
									</div>
								</div>
								<blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore.</p>
								</blockquote>

							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">

								<div class="testi-des">
									<div class="test-img"><img src="assets/images/t5.jpg" class="img-fluid" alt="/">
									</div>
									<div class="peopl">
										<h3>Jenna Johnson</h3>
										<p class="indentity">Seattle, Washington</p>
									</div>
								</div>
								<blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore.</p>
								</blockquote>


							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">

								<div class="testi-des">
									<div class="test-img"><img src="assets/images/t4.jpg" class="img-fluid" alt="/">
									</div>
									<div class="peopl">
										<h3>Linda Carini</h3>
										<p class="indentity">Seattle, Washington</p>
									</div>
								</div>
								<blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore.</p>
								</blockquote>


							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
								<div class="testi-des">
									<div class="test-img"><img src="assets/images/t1.jpg" class="img-fluid" alt="/">
									</div>
									<div class="peopl">
										<h3>Mike Johnson</h3>
										<p class="indentity">Seattle, Washington</p>
									</div>
								</div>
								<blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore.</p>
								</blockquote>


							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
								<div class="testi-des">
									<div class="test-img"><img src="assets/images/t2.jpg" class="img-fluid" alt="/">
									</div>
									<div class="peopl">
										<h3>Theo Hall</h3>
										<p class="indentity">Seattle, Washington</p>
									</div>
								</div>
								<blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore.</p>
								</blockquote>


							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">

								<div class="testi-des">
									<div class="test-img"><img src="assets/images/t3.jpg" class="img-fluid" alt="/">
									</div>
									<div class="peopl">
										<h3>Jenna Johnson</h3>
										<p class="indentity">Seattle, Washington</p>
									</div>
								</div>
								<blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore.</p>
								</blockquote>


							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /grids -->
		</div>
		</div>
		<!-- //grids -->
	</section>
	<!--//testimonials-->
	<!-- /w3l-content-with-photo-4-->
	<section class="w3l-content-with-photo-4">
		<!-- /content-grids-->
		<div class="content-photo-info py-5">
			<div class="container py-lg-3">
				<!-- /row-->
				<div class="content-photo-grids row">

					<div class="photo-6-inf-right col-lg-7 text-left pr-lg-5 mb-lg-0 mb-4">
						<h6 class="sub-title">Easy way to use mobile app</h6>
						<h3 class="hny-title">Getting a moving quote is simple
						</h3>
						<p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore.</p>
						<div class="servehny-1">
							<div class="ser-sub">

								<a href="#link" class="ser1"><span class="fa fa-check"></span> Book our service
								</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Professional packing
								</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Transport service
									tools.</a>
							</div>
							<div class="ser-sub">
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Home cleaning
								</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Moving protection</a>

								<a href="#link" class="ser1"><span class="fa fa-check"></span> Transport service</a>
							</div>
						</div>
						<div class="read-buttons">
							<a class="btn sub-btn" href="#">
								<span class="fa fa-play-circle-o mr-2"></span> <span class="prim_text">PlayStore</span>
							</a>
							<a class="btn sub-btn" href="#">
								<span class="fa fa-apple mr-2"></span> <span class="prim_text">App Store</span>
							</a>
						</div>
					</div>
					<div class="photo-6-inf-left col-lg-5 pr-lg-4 text-lg-right text-center">
						<a href="#"><img src="assets/images/app.png" class="img-fluid" alt=""></a>
					</div>
				</div>
				<!-- //row-->
			</div>
		</div>
	</section>
	<!-- /w3l-content-with-photo-4-->
	<!-- footer-66 -->
	<footer class="w3l-footer-66">
		<section class="footer-inner-main">
			<div class="footer-hny-grids py-5">
				<div class="container py-lg-4">
					<div class="text-txt">
						<div class="right-side">
							<div class="row sub-columns">
								<div class="col-lg-4 col-md-6 sub-one-left pr-lg-4">
									<h2><a class="navbar-brand" href="index.html">Drifter<span>z</span></a></h2>
									<!-- if logo is image enable this   
										<a class="navbar-brand" href="#index.html">
											<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
										</a> -->
									<p class="pr-lg-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Consequuntur hic odio voluptatem tenetur consequatur.Lorem ipsum dolor sit amet
										consectetur adipisicing elit. </p>
									<div class="columns-2">
										<ul class="social">
											<li><a href="#facebook"><span class="fa fa-facebook"
														aria-hidden="true"></span></a>
											</li>
											<li><a href="#linkedin"><span class="fa fa-linkedin"
														aria-hidden="true"></span></a>
											</li>
											<li><a href="#twitter"><span class="fa fa-twitter"
														aria-hidden="true"></span></a>
											</li>
											<li><a href="#google"><span class="fa fa-google-plus"
														aria-hidden="true"></span></a>
											</li>
											<li><a href="#github"><span class="fa fa-github"
														aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 sub-one-left mid-footer-gd">
									<div class="sub-two-right">
										<h6>Quick links</h6>
										<ul>
											<li><a href="index.html"><span
														class="fa fa-angle-right mr-2"></span>Home</a>
											</li>
											<li><a href="about.html"><span
														class="fa fa-angle-right mr-2"></span>About</a>
											</li>
											<li><a href="services.html"><span
														class="fa fa-angle-right mr-2"></span>Services</a></li>
											<li><a href="contact.html"><span
														class="fa fa-angle-right mr-2"></span>Contact</a></li>
										</ul>
									</div>
									<div class="sub-two-right">
										<h6>Categories</h6>
										<ul>
											<li><a href="#"><span class="fa fa-angle-right mr-2"></span>Express</a></li>
											<li><a href="#"><span class="fa fa-angle-right mr-2"></span>Material</a>
											</li>
											<li><a href="#support"><span
														class="fa fa-angle-right mr-2"></span>Furniture</a></li>
											<li><a href="#terms"><span class="fa fa-angle-right mr-2"></span>Vehicle</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 sub-one-left">
									<h6>Our Newsletter</h6>
									<form action="#" method="post" class="footer-newsletter">
										<div class="">
											<input type="email" name="email" class="form-input"
												placeholder="Enter your email..">
										</div>
										<button type="submit" class="btn">Subscribe</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="below-section">
				<div class="container">
					<div class="copyright-footer">
						<div class="columns text-lg-left">
							<p>© 2020 Drifterz. All rights reserved | Designed by <a
									href="https://w3layouts.com">W3layouts</a></p>
						</div>
						<ul class="columns text-lg-right">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="about.html">About Us</a>
							</li>
							<li><a href="contact.html">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- copyright -->
			<!-- move top -->
			<button onclick="topFunction()" id="movetop" title="Go to top">
				<span class="fa fa-arrow-up" aria-hidden="true"></span>
			</button>
			<script>
				// When the user scrolls down 20px from the top of the document, show the button
				window.onscroll = function () {
					scrollFunction()
				};

				function scrollFunction() {
					if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
						document.getElementById("movetop").style.display = "block";
					} else {
						document.getElementById("movetop").style.display = "none";
					}
				}

				// When the user clicks on the button, scroll to the top of the document
				function topFunction() {
					document.body.scrollTop = 0;
					document.documentElement.scrollTop = 0;
				}
			</script>
			<!-- /move top -->

		</section>
	</footer>
	<!--//footer-66 -->
</body>

</html>

<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->

<!--//-->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/scroll-down-JS-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/modernizr-2.6.2.min.js"></script>
<script src="assets/js/jquery.zoomslider.min.js"></script>
<!-- stats -->
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.countup.js"></script>
<script>
	$('.counter').countUp();
</script>
<!-- //stats -->
<!--pop-up-box-->

<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script>
	$(document).ready(function () {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});

		$('.popup-with-move-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-slide-bottom'
		});
	});
</script>

<!--//pop-up-box-->
<!-- for blog carousel slider -->
<script src="assets/js/owl.carousel1.js"></script>
<script>
	$(document).ready(function () {
		$("#owl-demo1").owlCarousel({
			loop: true,
			margin:20,
			responsiveClass: true,
			responsive: {
				0: {
					items:1,
					nav: true
				},
				600: {
					items: 2,
					nav: false
				},
				1000: {
					items: 3,
					nav: true,
					loop: false
				}
			}
		})
	})
</script>
<!-- //script -->

<script src="assets/js/bootstrap.min.js"></script>